<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Indikator Buatan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="text-center">Indikator Alami</h4>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card p-3">
          <p class="text-justify">
            Indikator buatan, yaitu kertas lakmus dan pH meter. Lakmus merupakan
            salah satu indikator yang praktis untuk digunakan. Lakmus berasal
            dari spesies lumut kerak yang berbentuk larutan atau kertas. Lakmus
            yang sering digunakan berbentuk kertas, karena dapat menghasilkan
            perubahan warna yang jelas dan lebih sukar teroksidasi. Lakmus juga
            termasuk indikator tunggal yang hanya dapat membedakan larutan yang
            bersifat asam atau basa, tetapi tidak dapat menentukan harga pH atau
            pOH. Kertas lakmus ada dua macam, yaitu lakmus merah dan lakmus
            biru.
          </p>
          <p class="text-justify">
            Kertas lakmus merah berubah menjadi biru dalam larutan basa dan pada
            larutan asam atau netral warnanya tidak berubah (tetap merah).
            Sedangkan kertas lakmus biru berubah menjadi warna merah dalam
            larutan asam dan pada larutan basa atau netral warnanya tidak
            berubah (tetap biru). Berbeda dengan menggunakan kertas lakmus,
            kertas indikator universal dan indikator cair bisa digunakan untuk
            mengetahui sifat asam atau basa dan pH suatu zat. pH meter merupakan
            suatu alat elektronik yang digunakan untuk mengukur pH dalam suatu
            cairan.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <ion-img
          src="https://cdn.imgpaste.net/2020/03/02/oYBuE.png"
          class="img-thumbnail"
        ></ion-img>
        <h6 class="text-center text-capitalize">kertas lakmus</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-img
          src="https://cdn.imgpaste.net/2020/03/02/oYwmm.png"
          class="img-thumbnail"
        ></ion-img>
        <h6 class="text-center text-capitalize">indikator universal</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-img
          src="https://cdn.imgpaste.net/2020/03/02/oYldq.png"
          class="img-thumbnail"
        ></ion-img>
        <h6 class="text-center">pH meter</h6>
      </div>
    </div>
  </div>
</ion-content>
