<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Indikator Asam Basa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="text-center">Tabel Indikator Asam Basa</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nama Indikator Buatan</th>
              <th>Interval pH</th>
              <th>Perubahan Warna</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Metil hijau</td>
              <td>0,2 – 1,8</td>
              <td>Kuning – biru</td>
            </tr>
            <tr>
              <td>Timol biru</td>
              <td>1,2 – 2,8</td>
              <td>Kuning – biru</td>
            </tr>
            <tr>
              <td>Metil orange</td>
              <td>3,2 – 4,4</td>
              <td>Merah – kuning</td>
            </tr>
            <tr>
              <td>Etil merah</td>
              <td>4,0 – 5,8</td>
              <td>Tak berwarna – merah</td>
            </tr>
            <tr>
              <td>Metil ungu</td>
              <td>4,8 – 5,4</td>
              <td>Ungu – hijau</td>
            </tr>
            <tr>
              <td>Bromokresol ungu</td>
              <td>5,2 – 6,8</td>
              <td>Kuning – ungu</td>
            </tr>
            <tr>
              <td>Bromotimol biru</td>
              <td>6,0 – 7,6</td>
              <td>Kuning – biru</td>
            </tr>
            <tr>
              <td>Fenol merah</td>
              <td>6,4 – 8,2</td>
              <td>Kuning – merah / violet</td>
            </tr>
            <tr>
              <td>Lakmus</td>
              <td>4,7 – 8,3</td>
              <td>Merah – biru</td>
            </tr>
            <tr>
              <td>Gresol merah</td>
              <td>7,0 – 8,8</td>
              <td>Kuning – merah</td>
            </tr>
            <tr>
              <td>Timol biru</td>
              <td>8,0 – 9,6</td>
              <td>Kuning – biru</td>
            </tr>
            <tr>
              <td>Fenolftalein</td>
              <td>8,2 – 10,0</td>
              <td>Tak berwarna – merah muda</td>
            </tr>
            <tr>
              <td>Timolftalein</td>
              <td>9,4 – 10,6</td>
              <td>KTak berwarna – biru</td>
            </tr>
            <tr>
              <td>Alizarin kuning</td>
              <td>10,1 – 12,0</td>
              <td>Kuning – merah</td>
            </tr>
            <tr>
              <td>Claiton kuning</td>
              <td>Kuning – kuning kecoklatan</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
