<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pengenalan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="text-center text-capitalize">
          Pengenalan Titrasi Asam Basa
        </h4>
        <ion-img
          src="https://cdn.imgpaste.net/2020/03/02/oYNQN.png"
          class="img-thumbnail"
        ></ion-img>
      </div>
      <div class="row">
        <div class="col">
          <div class="card m-3 p-2">
            <p class="text-justify">
              Pernahkah Anda memperhatikan label yang tertera pada botol cuka?
              Selain merek dan nama perusahaan yang memproduksi, umumnya
              dicantumkan pula kadar asam asetat dalam cuka makan tersebut. Jika
              Anda diminta memeriksa kebenaran dari kadar yang dicantumkan,
              bagaimana Anda melakukannya? Penetapan kadar larutan asam dan basa
              dapat dilakukan melalui suatu prosedur percobaan yang disebut
              <a
                class="btn btn-primary"
                routerLink="/materi/titrasi"
                routerDirection="root"
                >titrasi asam basa</a
              >
              (Purba et al, 2017).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
