<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Titik Ekuivalen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="text-center">Titik Ekuivalen</h4>
        <div class="row mt-3">
          <div class="col">
            <ion-img
              src="https://cdn.imgpaste.net/2020/03/02/oYHRS.png"
              class="img-thumbnail"
            ></ion-img>
            <h6 class="text-center">video belum tak tambahin :D</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card p-3">
              <p class="text-justify">
                Pada saat titik ekuivalen, maka mol-ekuivalent asam akan sama
                dengan mol-ekuivalent basa, maka hal ini dapat kita tulis
                sebagai berikut:
                <span class="d-block alert alert-info text-center"
                  >n x M x V asam = n x M x V basa
                  <a
                    class="btn btn-primary "
                    routerLink="/kalkulator"
                    routerDirection="root"
                    >Kalkulator</a
                  ></span
                >
                <span class="d-block alert alert-secondary">
                  keterangan : <br />
                  V = Volume <br />
                  M = Molaritas <br />
                  n = jumlah ion H<sup>+</sup> (pada asam) atau OH<sup>-</sup>
                  (pada basa)
                </span>
                Titik ekuivalen dapat ditentukan dengan menggunakan indikator
                yang mempunyai trayek perubahan pH dengan titik ekuivalen
                termasuk didalamnya (Supardi et al, 2014).
              </p>
              <p class="text-justify">
                Titrasi dihentikan tepat pada saat indikator asam-basa
                menunjukkan perubahan warna. Saat indikator menunjukkan
                perubahan warna disebut titik akhir titrasi (Brady et al, 2015).
                Sangat sukar untuk menentukan berakhirnya titrasi tepat pada
                titik ekuivalen, karena indikator tidak hanya mengalami
                perubahan warna pada titik ekuivalen saya, melainkan pada daerah
                yang disebut trayek perubahan warna. Oleh karena itu biasanya
                titrasi diakhiri pada suatu pH tertentu yang diperbolehkan.
                Pemilihan indikator menjadi hal yang sangat penting karena habis
                mengalami perubahan warna pada titik ekuivalennya dan tidak
                boleh mengalami perubahan warna diluar titik ekuivalennya
                (Supardi et al, 2014).
              </p>
              <p class="text-justify">
                Indikator asam-basa merupakan zat atau substansi yang dapat
                merubah warna. Titik akhir dari sebuah titrasi dapat dideteksi
                ketika warna dari larutan tersebut berubah secara drastis
                (terjadi perubahan warna). Kebanyakan pewarna yang digunakan
                sebagai indikator asam-basa merupakan asam lemah (Brady et al,
                2015). Indikator biasanya basa atau asam organik, yang mempunyai
                warna berbeda dalam suasana asam atau basa (Supardi et al,
                2014).
                <span class="d-block alert alert-info text-center">
                  H In <em>(aq)</em> ⇌ H<sup>+</sup> <em>(aq)</em> + In
                  <em>(aq)</em></span
                >
              </p>
              <p class="text-justify">
                Indikator asam basa dibedakan menjadi dua, yaitu
                <a
                  class="btn btn-primary "
                  routerLink="/materi/indikator-alami"
                  routerDirection="root"
                  >Indikator Alami</a
                >
                dan
                <a
                  class="btn btn-primary mt-2 "
                  routerLink="/materi/indikator-buatan"
                  routerDirection="root"
                  >Indikator Buatan</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
