<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Titrasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="text-center">
          Titrasi
        </h4>
        <div class="card  p-3">
          <p class="text-justify">
            Titrasi adalah suatu cara untuk menentukan konsentrasi larutan asam
            atau basa, dengan penambahan terkontrol dan mengukur jumlah volume
            larutan yang diketahui konsentrasinya (larutan standar) untuk
            bereaksi sepenuhnya dengan larutan yang telah terukur volumenya
            namun tidak diketahui konsentrasinya (Davis et al, 2006). Larutan
            standar dapat berupa asam atau basa yang telah diketahui
            konsentrasinya dengan teliti. Larutan standar asam diperlukan, untuk
            menetapkan konsentrasi basa dan larutan standar basa diperlukan,
            untuk menetapkan konsentrasi asam. Keadaan dengan jumlah ekuivalen
            asam sama dengan basa disebut
            <a
              class="btn btn-primary d-inline"
              routerLink="/materi/titik-ekuivalen"
              routerDirection="root"
              >Titik Ekuivalen</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <ion-img
          src="https://cdn.imgpaste.net/2020/03/02/oYHRS.png"
          class="img-thumbnail"
        ></ion-img>
        <h5 class="text-center">Gambar Alat Titrasi</h5>
      </div>
    </div>
  </div>
</ion-content>
