<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Indikator Pemahaman Kompetensi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Indikator Pencapaian Kompetensi</h2>
      </div>
    </div>
    <div class="row">
      <div class="col card bg-primary text-white m-2 p-2">
        <p>3.13.1 Menjelaskan pengertian titrasi asam basa</p>
        <p>3.13.2 Menentukan Indikator dalam titrasi asam basa</p>
        <p>3.13.3 Menunjukkan titik ekuivalen titrasi dan titik akhir basa</p>
        <p>
          3.13.4. Menghitung konsentrasi larutan asam atau basa berdasarkan data
          hasil titrasi asam basa
        </p>
        <p>
          3.13.5. Membedakan jenis titrasi asam basa berdasarkan kurva titrasi
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col card bg-primary text-white m-2 p-2">
        <p>
          Merancang desain percobaan titrasi asam basa
        </p>
        <p>
          Melakukan percobaan titrasi asam basa
        </p>
        <p>
          Menggambarkan kurva titrasi berdasarkan data hasil percobaan
        </p>
        <p>
          Menyimpulkan hasil percobaan titrasi asam basa
        </p>
        <p>
          Menyajikan hasil percobaan titrasi asam basa
        </p>
      </div>
    </div>
  </div>
</ion-content>
