<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kurva Titrasi Asam Basa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="text-container">Kurva Titrasi</h4>
      </div>
      <div class="row">
        <div class="col">
          <div class="card m-3 p-3">
            <p class="text-justify">
              Anda tentu sudah mengetahui bahwa pH akan naik jika suatu larutan
              asam ditetesi dengan basa. Sebaliknya, jika larutan basa ditetesi
              dengan larutan asam, maka pH larutan akan turun.Grafik yang
              menyatakan perubahan pH pada titrasi asam dengan basa dan
              sebaliknya disebut kurva titrasi. Bagaimanakah bentuk kurva
              titrasi tersebut?
            </p>
            <p class="text-justify">
              Bentuk kurva titrasi tergantung pada kekuatan asam dan basa yang
              direaksikan. Ada tiga jenis titrasi, yaitu :
              <a
                class="btn btn-primary mt-2"
                routerLink="/materi/titrasi"
                routerDirection="root"
                >Titrasi asam kuat dengan basa kuat</a
              >
              <a
                class="btn btn-primary mt-2"
                routerLink="/materi/titrasi"
                routerDirection="root"
                >Titrasi asam lemah dengan basa kuat</a
              >
              <a
                class="btn btn-primary mt-2"
                routerLink="/materi/titrasi"
                routerDirection="root"
                >Titrasi asam kuat dengan basa lemah</a
              >
              <!-- <ion-button>Titrasi asam kuat dengan basa kuat</ion-button>
              <ion-button>Titrasi asam lemah dengan basa kuat</ion-button>
              <ion-button>Titrasi asam kuat dengan basa lemah</ion-button> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
