<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>KD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Kompetensi Dasar</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-justify bg-primary text-white p-2 border rounded">
          <span>3.13 </span>Menentukan konsentrasi larutan asam atau basa
          berdasarkan hasil titrasi asam basa
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-justify bg-primary text-white p-2 border rounded">
          <span>4.13 </span>Merancang, melakukan dan menyimpulkan serta
          meyajikan hasil percobaan titrasi asam basa
        </p>
      </div>
    </div>
  </div>
</ion-content>
